.sun-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: #dddddd;
    border-radius: 20px;
}

.sun-widget__item {
    margin-bottom: 30px;
}

.sun-widget__item:last-of-type {
    margin-bottom: 0;
}

.sun-widget__day-data {
    font-size:30px;
    text-align: center;
}

.sun-widget__day-data-item {
    margin-bottom: 5px;
}

.sun-widget__day-data-item:last-of-type {
    margin-bottom: 0;
}

.sun-widget__buttons {
    display: flex;
    justify-content: center;
}

.sun-widget__button {
    margin-left: 10px;
}

.sun-widget__button:first-of-type {
    margin-left: 0;
}